/* Style the header of the table */
.mat-header-cell {
  font-weight: bold;
  background-color: silver;
  text-align: left;
  padding: 16px;
}

.mat-mdc-table {
  min-width: 90vw;
}
.mat-column-name, .mat-column-category, .mat-column-price {
  text-align: left;
}

/* Style the actions buttons */
button.action-btn {
  width: 120px;
  margin-right: 8px;
  margin-top: 4px;
}

.mat-paginator {
  margin-top: 16px;
}

/* Add some spacing between the buttons and table */
.mat-raised-button {
  min-width: 120px;
}

/* Add extra margin to the right of the "Create New" button */
.text-right button {
  margin-right: 0;
}

/* Pagination Controls */
.mat-paginator .mat-paginator-range-label {
  font-size: 14px;
}
.table-container {
  flex: 1;
  overflow-y: auto;
  max-height: 83vh; /* or any height you prefer */
  padding: 0 16px; /* Add some padding to the sides */
}


.loading-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

mat-header-row {
  position: sticky;
  top: 0;
  background: silver;
  z-index: 5;
}

th.mat-header-cell {
  position: sticky;
  top: 0;
  background: silver;
  z-index: 10;
}
td.mat-column-accountNumber{
  display: grid;
  margin-top: 1rem;
  height: 4rem;
}
:host {
  display: flex;
  flex-direction: column;
  height: content-box;
}

header {
  height: 3rem; /* or whatever your header height is */
  flex-shrink: 0;
}

main {
  flex: 1 0 auto; /* main will stretch to fill the remaining space */
  overflow: auto; /* optional: scroll inside main if needed */
}

footer {
  height: 3rem; /* set your fixed footer height */
  flex-shrink: 0;
}
.mat-mdc-header-cell {
  background-color: silver!important;
  color: black;
  font-weight: bold;
}
.cdk-overlay-container {
  z-index: 1000;
}

::ng-deep .mat-autocomplete-panel .mat-option {
  min-height: 32px !important;
  line-height: 32px !important;
  font-size: 13px;
  padding: 0 8px;
}
.mat-mdc-cell {
  border-bottom: none;
  text-align: center;
  line-height: 3rem;
  font-size: 1.2rem;
}
::ng-deep mat-expansion-panel-header {
  background-color: #3f51b5 !important; /* Tailwind blue-500 */
  color: white !important;
}

::ng-deep mat-expansion-panel-header.mat-expanded {
  background-color: #3f51b5 !important; /* same for expanded state */
  color: white !important;
}

::ng-deep svg{
    font-size: 1rem;
    font-weight: bold;
    color: white !important;
  }

