<ng-container *ngIf="isLoading; else table">
  <div class="loading-container">
    <mat-progress-spinner
      mode="indeterminate"
      diameter="50"
      color="primary">
    </mat-progress-spinner>
  </div>
</ng-container>

<ng-template #table>
  <ng-container *ngIf="!isLoading">
    <div *ngIf="!isMobile" class="table-container mt-15 overflow-y-scroll overflow-x-hidden max-h-[72vh]">
      <table mat-table [dataSource]="products" class="mat-elevation-z8 w-full " matSort>
        <!-- Image Column -->
        <ng-container matColumnDef="imageUrl" >
          <th mat-header-cell *matHeaderCellDef>תמונה</th>
          <td mat-cell *matCellDef="let product"><img *ngIf="product.imageUrl" [src]="product.imageUrl" alt="image" class="rounded w-15 h-15 p-1"/> </td>
        </ng-container>
        <!-- Product Name Column -->
        <ng-container matColumnDef="name" sticky>
          <th mat-header-cell *matHeaderCellDef>שם מוצר</th>
          <td mat-cell *matCellDef="let product">{{ product.name }}</td>
        </ng-container>

        <!-- Category Column -->
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>קטגוריה</th>
          <td mat-cell *matCellDef="let product">{{ product.category }}</td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="price" >
          <th mat-header-cell *matHeaderCellDef>מחיר</th>
          <td mat-cell *matCellDef="let product">{{ product.price | currency }}</td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions" >
          <th mat-header-cell *matHeaderCellDef >
            <div class="grid justify-items-end mb-1">
              <button mat-raised-button color="accent" (click)="createProduct()" class="m-3 create-button-container w-[7.4rem]">מוצר חדש</button>
            </div>
          </th>
          <td mat-cell *matCellDef="let product" class="grid justify-end">
            <div  class="grid grid-cols-2 justify-items-end w-[18rem] p-3">
              <button mat-raised-button color="primary" class="action-btn" (click)="editProduct(product)">עריכה</button>
              <button mat-raised-button color="warn"    class="action-btn" (click)="deleteProduct(product)">מחיקה</button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>


    </div>
  </ng-container>

</ng-template>
<!-- Mobile Accordion -->
<div *ngIf="isMobile" class="overflow-y-scroll overflow-x-hidden w-[90vw] max-h-[72vh] mt-15 ">
  <mat-accordion multi class="grid grid-flow-row gap-3"  dir="rtl">
    <mat-expansion-panel *ngFor="let product of products.data">
      <mat-expansion-panel-header>
        <mat-panel-title >
          <b class="text-white text-[1rem]">שם מוצר: {{ product?.name }}</b>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="text-right p-5">
        <p><strong>שם מוצר:</strong> {{ product?.name }}</p>
        <p><strong>קטגוריה:</strong> {{ product?.category }}</p>
        <p><strong>מחיר:</strong> {{ product?.price }}</p>
        <div>
          <img
            *ngIf="product?.imageUrl"
            [src]="product.imageUrl"
            class="w-[5rem] h-[5rem] rounded"
            alt="Product image"
          />
          <i
            *ngIf="!product?.imageUrl"
            class="fas fa-image text-gray-400 text-4xl"
          ></i>
        </div>
        <div  class="grid grid-cols-2 justify-items-end w-[18rem] p-3">
          <button mat-raised-button color="primary" class="action-btn" (click)="editProduct(product)">עריכה</button>
          <button mat-raised-button color="warn"    class="action-btn" (click)="deleteProduct(product)">מחיקה</button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<app-fab-menu></app-fab-menu>
