<header class="bg-gray-200 dark:bg-gray-900 rtl">
  <nav class="flex justify-between items-center px-4 py-3">
    <!-- Logo on left -->
    <div class="grid grid-cols-1 items-center justify-items-start space-x-4">
      <div class="grid grid-cols-[45%_auto] w-[7rem]">
          <button *ngIf="isLoggedIn" (click)="logOut()" class="text-black dark:text-white hover:text-red-600 text-xl" title="יציאה">
            <i class="fas fa-right-from-bracket  rotate-180 cursor-pointer"></i>
          </button>
          <img [src]="logoUrl" alt="brand" class="w-12 h-12" *ngIf="logoUrl || logoUrl!==''" [routerLink]="['/']" />
      </div>
      <h6 dir="rtl" class="text-white">{{ displayName }}</h6>

    </div>
    <div  class="mr-0 md:relative md:left-[9rem] text-black dark:text-white text-[2rem] font-bold mat-background-primary">{{pageName$ | async}}</div>
    <!-- Menu icon on right -->
    <div class="flex items-center space-x-4">
      <ul class="hidden md:flex items-center  space-x-7 gap-5">
        <li  [ngClass]="{ 'bg-amber-900 p-2': activeMenu === 'menu' }"  (click)="setActive('menu')">
          <a [routerLink]="['/']" class="text-black dark:text-white"><h2>תפריט</h2></a>
        </li>
        <li  [ngClass]="{ 'bg-amber-900 p-2': activeMenu === 'cart' }"   (click)="setActive('cart')">
          <a [routerLink]="['/cart']" class="text-black dark:text-white"><h2>סל קניות</h2></a>
        </li>
        <li  [ngClass]="{ 'bg-amber-900 p-2': activeMenu === 'orders' }"   (click)="setActive('orders')">
          <a [routerLink]="['/orders']" class="text-black dark:text-white"><h2>הזמנות</h2></a>
        </li>
        <li class="bg-amber-900 p-2"  [ngClass]="{ 'bg-amber-900 p-2': activeMenu === 'admin' }" (click)="setActive('admin')">
          <a [routerLink]="['/admin/orders']"  class="text-black dark:text-white"><h2>ממשק ניהול</h2></a>
        </li>
      </ul>

      <div class="flex md:hidden items-center space-x-4">

        <button (click)="openMenu()" class="text-black dark:text-white">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>
    </div>
  </nav>
</header>
