
<div class="bg-gray-200 dark:bg-gray-900 rounded-2xl text-[1.3rem] p-4 rtl text-center">
  <div class="text-green-600 text-4xl">
    <i class="fa-solid fa-circle-check"></i>
  </div>
  <h2 class="text-gray-700  text-white p-2">
    שלום <span class="font-semibold">{{ data?.user.firstName }} {{ data?.user.lastName }}</span>
  </h2>



  <div class="text-gray-800  text-white p-1">
    סך התשלום: <span class="font-bold text-[2rem] text-green-700">{{ data?.total | currency: 'ILS' }}</span>
  </div>

  <div class="text-gray-600">
    <span class="font-medium capitalize" [ngClass]="{
          'text-yellow-500': data?.orderStatus === 'pending',
          'text-green-500': data?.orderStatus === 'confirmed',
          'text-red-500': data?.orderStatus === 'failed'
        }">
          {{ data?.orderStatus === 'pending' ? 'ההזמנה בטיפול' :
             data?.orderStatus === 'confirmed' ? 'ההזמנה מוכנה' : ''  }}
        </span>
  </div>

  <div class="flex justify-end gap-4 mt-6">
    <!-- Cancel Button - Red -->
    <button (click)="cancel()"
            mat-raised-button color="warn">
      ביטול
    </button>

    <button (click)="confirm()"
            mat-raised-button style="background: lightgreen">
      אישור
    </button>
  </div>
</div>

